[user]
	name = Joshua Wu
	email = Joshua.wu.0910@gmail.com

[core]
	quotepath = false
	autocrlf = input

[color]
	ui = auto

[include]
	path = configs/includes/.gitconfig-alias

[includeIf "gitdir:~/liferay/"]
	path = configs/includes/.gitconfig-work